h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 54px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 21px;
    color: black;
}

h6 {
    font-size: 18px;
    color: black;
}

p {
    line-height: 1.4;
    margin: 20px 0;
}
