.checkoutLayout {
    display: grid;

    gap: 50px;
    padding: 20px;
}
.checkoutLayout .right{
    background-color: #5358B3;
    border-radius: 20px;
    padding: 40px;
    color: honeydew;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.65);
}
.checkout .list img{
    height: 70px;
}
.checkoutLayout .right form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid lightblue;
    padding-bottom: 20px;
}
.checkoutLayout .right .form .group:nth-child(-n+3){
    grid-column-start: 1;
    grid-column-end: 3;
}
.checkoutLayout .form input, .checkoutLayout .form select{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background-color: #6a6fc9;
}
.checkoutLayout row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.checkoutLayout .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.checkoutLayout .row div:nth-child(2){
    font-weight: bold;
    font-size: x-large;
}
.buttonCheckout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: #222e44;
}
.returnCart h1{
    height: 80px;
}
.returnCart .list .item img{
    height: 80px;
    padding: 10px;
    border-radius: 20px;
    border: black;
}
.returnCart .item{
    display: grid;
    grid-template-columns: 80px 1fr 50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.65);

}
.returnCart .item .name, .returnCart .item .returnPrice{
    font-size: x-large;
    font-weight: bold;
}

fieldset{
    border-color: darkslateblue;
}
#radio{
    display: flex;
    width: 150px;
}

.right label{
    display: inline-block;
    width: 200px;
}

