
.checkoutLayout {
    display: block;
    width: 700px;
    gap: 50px;
    padding: 20px;
    opacity: 90%;
}
.checkoutLayout a{
    color: white;
}
.checkoutLayout .right{
    background-color: #3A775D;
    border-radius: 20px;
    padding: 40px;
    color: honeydew;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.65);
    margin-top: 10px;
    align-self: center;
}

.checkoutLayout .right form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid lightblue;
    padding-bottom: 20px;
}

.checkoutLayout .form input, .checkoutLayout .form select{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background-color: #5fa284;
    color: black;
}
.checkoutLayout .form .group label{
    display: inline-block;
    width: 100px;
}
.checkoutLayout .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.checkoutLayout .row div:nth-child(2){
    font-weight: bold;
    font-size: x-large;
}
.buttonCheckout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: #222e44;
}
fieldset{
    border-color: darkgreen;
}

.group {
    display: flex;
    align-items: center;  /* Align labels and images vertically */
}



.group label img {
    margin-right: 5px;  /* Add space between image and text */
}


