@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.body_feedback{
    text-align: center;
    color: black;
    background-color: #ffffff;
    background-image: url("assets/parallax/sky.png");

}


.body_feedback h2{
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}




.split-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-labels {
    width: 45%;
}

.form-inputs {
    width: 45%;
}

.form-preview {
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}





.title {
    color: #000000;
}

.feedback {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.input-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.submit {
    background-color: #5dae87;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #59ffae;
}

.label {
    font-weight: bold;
    margin-top: 10px;
}

.center {
    text-align: center;
    margin-top: 10px;
}
.select-feedback {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 24px auto;
}


.radio {
    display: none;
}




.label-feedback {
    display: inline-block;
    background-color: #5dae87;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.label-feedback:hover {
    background-color: #5dae87;
}

.radio:checked + .label-feedback {
    background-color: #98de28;
    color: white;
}
.cancel {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.cancel:hover {
    background-color: #d32f2f;
}
