/*Header*/

header#top {
    background: transparent;
    height: 160px;
    border-radius: 24px;
    position: absolute;
    z-index: 999;
}

header#top .wrapper {
    display: flex;
    justify-content: center; /* Center the navigation */
    align-items: center;
    width: 100%;
}

h1.logo a {
    color: #444;
    line-height: 2.25;
    text-indent: -4999px;
    background-image: url(../assets/logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 200px;
    display: inline-block;
    margin: 40px 0 0 40px;
    width: 56px;
    height: 74px;
}

header#top nav {
    display: flex;
    width: auto;
    margin-top: 60px;
    margin-right: 40px;
    justify-content: center;
}

header#top nav ul#navigation {
    display: flex; /* Use Flexbox for the navigation items */
    gap: 20px; /* Adjust gap as needed */
    justify-content: center; /* Center the items within the navigation */
}

header#top nav ul#navigation li {
    display: inline-block;
}

header#top nav ul#navigation li a {
    display: inline-block;
    background: none;
    padding: 10px 15px;
    color: #777;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

header#top nav ul li {
    display: inline-block;
}

header#top nav ul li a {
    display: inline-block;
    background: none;
    padding: 10px 15px;
    color: #777;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

header#top nav ul li a:hover {
    color: #444;
}

header#top nav ul li a.nav-cta {
    color: #5dae87;
    border: 2px solid #5dae87;
    border-radius: 999px;
    margin-top: -2px;
    margin-left: 10px;
}
