body{
  background-color: white;
  margin: 0;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
}
a {
  text-decoration: none;
}
.quantity{
  position: inherit;
}
.container {
  width: 1000px;
  margin: auto;
  transition: 0.5s;
}

header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;

}
header .shopping {
  position: relative;
  text-align: right;
}
header .shopping img {
  width: 40px;
}
header .shopping span {
 background-color: #5fa284;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0px;
  row-gap: 20px;
  margin-top: 50px;
}

.list .item {
  font-family: "Arial Rounded MT Bold";
  text-align: center;
  background-color: white;
  width: 200px;
  height: 350px;
  border-radius: 15px;
  letter-spacing: 1px;
  color: #000000;
  border: 1px solid black;

}

.list .title h3{
  text-align: center;
  font-family: "Arial Rounded MT Bold", system-ui;
  margin: 0px;
  color: black;
  height: 40px;
}
.list .PImage{
  border: none;

}
.list .item img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}


.list .item .price {
  color: black;
  margin: 0px;
  height: 35px;
  font-family: "Arial Rounded MT Bold", Helvetica, ui-rounded;

}
.list .item button {
  background-color: #498600;
  color: white;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border-color: white;
  box-shadow: none;
}
.cart {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: black;
  height: 100vh;
  transition: 0.5s;
}
.cart h1 {
  color: honeydew;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.cart .checkout {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cart .checkout div {
  background-color: aliceblue;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.cart .checkout div:nth-child(2) {
  background-color: darkolivegreen;
  color: white;
}
.cart .closeShopping {
  position: absolute;
  bottom: 0;
  background-color: yellow;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.active .cart {
  left: calc(100% - 500px);
}
.active .container {
  transform: translateX(-200px);
}
.listCard li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;

}
.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li img {
  width: 90%;
}
.listCard li button {
  background-color: #fff5;
  border: none;
}
.listCard .count {
  margin: 0 10px;
}



/*button .change_Q_button {*/
/*  background-color: white; !* Already set in your code *!*/
/*  border: 1px solid #ccc; !* Adds a border around the button *!*/
/*  border-radius: 4px; !* Rounds the corners of the button *!*/
/*  padding: 8px 12px; !* Adds padding inside the button for better clickability *!*/
/*  font-size: 14px; !* Adjusts the font size *!*/
/*  color: #333; !* Sets the text color *!*/
/*  cursor: pointer; !* Changes the cursor to a pointer when hovering over the button *!*/
/*  transition: background-color 0.3s ease; !* Smooth transition for hover effect *!*/
/*}*/

/*.change_Q_button:hover {*/
/*  background-color: #f5f5f5; !* Changes the background color on hover *!*/
/*}*/
