body {
 background-color: whitesmoke;
}
a {
  text-decoration: none;
}
.container {
  width: 1000px;
  margin: auto;
  transition: 0.5s;
}
header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}
header .shopping {
  position: relative;
  text-align: right;
}
header .shopping img {
  width: 40px;
}
header .shopping span {
 background-color: #5fa284;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}

.list .item {
  text-align: center;
  background-color: seagreen;
  padding: 20px;
  box-shadow: 0 50px 50px gray;
  letter-spacing: 1px;
  color: white;
}
.list .item img {
  width: 90%;
  height: 430px;
  object-fit: cover;
}
.list .item .productTitle {
  font-weight: bold;
}
.list .item .price {
  margin: 10px;
}
.list .item button {
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
}
.cart {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: black;
  height: 100vh;
  transition: 0.5s;
}
.cart h1 {
  color: honeydew;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.cart .checkout {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cart .checkout div {
  background-color: aliceblue;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.cart .checkout div:nth-child(2) {
  background-color: darkolivegreen;
  color: white;
}
.cart .closeShopping {
  position: absolute;
  bottom: 0;
  background-color: yellow;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.active .cart {
  left: calc(100% - 500px);
}
.active .container {
  transform: translateX(-200px);
}
.listCard li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
}
.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li img {
  width: 90%;
}
.listCard li button {
  background-color: #fff5;
  border: none;
}
.listCard .count {
  margin: 0 10px;
}
