/*Splash screen*/
.intro {
    position: fixed;
    display: flex;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(28, 59, 43, 1) 60%, rgba(28, 59, 43, 1) 100%);
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Montserrat, Serif, serif;
    font-size: 50px;


}
.team{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.members {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    border-radius: 50%;
    background-color: white;
}
.logo.active, .team.active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.logo.fade, .team.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


/*.logo.active {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    bottom: -20px;*/
/*    opacity: 0;*/

/*}*/
/*.team.active{*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    bottom: -20px;*/
/*    opacity: 0;*/
/*}*/


/*.logo.fade {*/
/*    bottom: 150px;*/
/*    opacity: 0;*/
/*    transition: ease-in-out 0.5s;*/
/*}*/
/*.team.fade{*/
/*    bottom: 150px;*/
/*    opacity: 0;*/
/*    transition: ease-in-out 0.5s;*/
/*}*/





