@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); /* Poppins Font */
/* root variables is used to change the color scheme of the website */
:root {
    --background-colorG: #1c3b2b;
    --background-colorB: black;
    --text-colorW: #f1f1f1;

    --button-color: #f1f1f1;
    --button-color-hover: #f1f1f1;
    --button-text-color-green: #5fa284;
    --button-text-color-white: #fcf7f7;
    --button-text-color-black: #000000;

    --background-liner-gradientBG: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(28, 59, 43, 1) 100%);
    --background-liner-gradientGB: linear-gradient(180deg, rgba(28, 59, 43, 1) 100%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%);

    --border-radiusUlt: 999px;
    --border-radiusHigh: 24px;
    --border-radiusLow: 7px;
}

/* General CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 4%;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header nav {
    display: flex;
    gap: 30px;
}

#nav-logo {
    width: 200px;
    height: auto;
    opacity: 0.7;
}

header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: var(--button-text-color-white);
    opacity: 0.7;
}

header nav a.active {
    background: var(--button-text-color-white);
    color: var(--button-text-color-green);
}

header nav a:hover {
    background: #9dffd3;
    opacity: 0.7;
}

header nav:hover > a:not(:hover) {
    background: none;
}

@media (max-width: 768px) {
    header {
        height: 80px; /* Adjust header height for smaller screens */
    }
}

.spacer {
    height: 120px;
}


.home {
    display: flex;
    height: 100dvh;
    background: linear-gradient(to top, #000000 30%, #5dae87);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-colorW);
    font-size: 90px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}



.about {
    padding: 50px;
    /*background: #000000;*/
    color: var(--text-colorW);
    position: relative;
    z-index: 1;
    background: var(--background-colorB);
    background: var(--background-liner-gradientBG);
}

.about h1 {
    font-size: 40px;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

html, body {
    min-height: 100%;
}

body {
    font-size: 17px;
    color: #444;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    background: #1c3b2b;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 54px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 21px;
}

h6 {
    font-size: 18px;
}

/* Typography */
p {
    line-height: 1.4;
    margin: 20px 0;
}

p.subtitle {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #777;
    text-align: center;
}

.subtitle {
    font-family: 'Poppins Light', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #5dae87;
    text-align: center;
}

img, embed, object, video {
    max-width: 100%;
}


ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #5dae87;
}

a:hover {
    text-decoration: none;
    color: #42966e;
}

::selection {
    background: #444;
    color: #fff;
}

.clear {
    clear: both;
}

.wrapper {
    max-width: 1190px;
    margin: 0 auto;
    position: relative;
    border-radius: 24px;
}

input[type=text],
input[type=email] {
    border: 2px solid #f5f4f4;
    background: #fff;
    font-size: 17px;
    color: #444;
    padding: 16px;
    border-radius: 999px;
    width: 280px;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

/*BUTTON SECTION */

.buttons {
    width: auto;
    margin: 0 auto;
    text-align: center;
}


a.button-1, a.button-2, button {
    color: #212121;
    background: var(--button-color);
    border: 2px solid #ffffff;
    border-radius: var(--border-radiusHigh);
    margin-top: -2px;
    margin-left: 10px;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    display: inline-block;
    width: 220px;
    margin: 10px;
    text-align: center;
    padding: 18px 0;
    transition: all 0.3s ease;
}

a.button-1:hover {
    border-color: #fafafa;
    background: #eaeaea;
    box-shadow: 0 0 10px #fafafa, 0 0 20px #fafafa, 0 0 30px #1c3b2b;
}

a.button-2 {
    border-color: #444;
    background: none;
    color: #444;
}

a.button-2:hover {
    background: #444;
    color: #fff;
    box-shadow: 0 0 10px #444, 0 0 20px #444, 0 0 30px #444; /* Glow  */
}

@media only screen and (max-width: 640px) {
    a.button-1, a.button-2 {
        font-size: 16px;
        margin: 5px;
    }
}

/*IMPORTED SETTINGS (LOTTIE)*/

#lottie-player {
    display: none;
}

/*Banner*/

#banner {
    height: 840px;
    position: relative;
    padding: 1px 0 0 0;
    overflow: hidden;
}

#banner::before {
    content: '';
    background: url(../assets/header-image.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: kenburns 20s infinite;
}

@keyframes kenburns {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

#banner h2 {
    margin: 220px auto 0;
    padding: 0 5%;
    opacity: 0.9;
    color: var(--text-colorW);
    font-size: 108px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03em;
}

#banner p.subtitle {
    font-size: 20px;
    margin: 10px 0 50px 0;
}

@media only screen and (max-width: 1024px) {
    #banner h2 {
        font-size: 400%;
        margin-top: 100px;
        padding: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    #banner h2 {
        font-size: 64px;
        margin-top: 64px;
    }

    #banner p.subtitle {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1024px) {
    #banner {
        height: 420px;
    }
}

@media only screen and (max-width: 480px) {
    #banner {
        height: 400px;
    }
}

input[type="radio"] {
    display: none;
}

.menu {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(7, 41, 19,.1),
    0 0 20px 0 rgba(7, 41, 19,.1);
    padding: 10px;
    border-radius: 100px;
}

.tabs > *{
    z-index: 2;
}

.tab{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color .5s, text-shadow .5s, font-size .5s;
}

input[type="radio"]:checked + label {
    color: #1db555;
    text-shadow: 0 0 20px #21d964;
    font-size: 1.5rem;
}

.selector {
    position: absolute;
    display: flex;
    height: 40px;
    width: 200px;
    background-color: #e6ffef;
    z-index: 1;
    border-radius: 100px;
    transition: transform .5s ease-in-out;
}

input[id="tab1"]:checked ~ .selector {
    transform: translateX(0);
}

input[id="tab2"]:checked ~ .selector {
    transform: translateX(100%);
}

input[id="tab3"]:checked ~ .selector {
    transform: translateX(200%);
}

/*Card Section*/

.card-section {
    text-align: center;
    padding: 100px 0;
    background: #1c3b2b;

}

.card-section p.subtitle {
    color: #5a7240;
    font-size: 17px;
}

ul.card-list {
    width: 90%;
    margin: 100px auto 60px;

}

ul.card-list li {
    display: inline-block;
    float: left;
    width: 30.66%;
    background: #fff;
    padding: 60px 0;
    margin: 0 2%;
    border-radius: 24px;
}

.card-section ul.card-list li a:hover {
    /*background-color: rgba(0, 0, 0, 0); !* Dark background *!*/
    color: var(--button-text-color-green);
    text-shadow: 0 0 10px #5a7240, 0 0 20px #5a7240, 0 0 30px #5a7240;
    transition: background-color 0.8s ease, text-shadow 0.8s ease;
}




.card-section ul.card-list li:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s ease;
}


ul.card-list li .image-container {
    width: 100px;
    height: 100px;
    margin: 0 auto 40px auto;
    background: #f9f9f9;
    border-radius: 24px;
    position: relative;
}

ul.card-list li .image-container img {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 28px;
    left: 28px;
}

ul.card-list li p {
    width: 80%;
    margin: 20px auto 40px auto;
}

ul.card-list li h5 {
    color: #1d4408;
    width: 100%;
    margin: 20px auto 40px auto;
}
.txt_link {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #5a7240;
}

ul.card-list li a:hover {
    color: #5a7240;
}

ul.card-list li:first-of-type {
    margin-left: 0;
}

ul.card-list li:last-of-type {
    margin-right: 0;
}

@media only screen and (max-width: 960px) {
    ul.card-list li {
        display: block;
        width: 100%;
        margin: 20px 0 !important;
    }
}


.blurcard-section {
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: 64px 24px;
}

.blurcard-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    max-width: 1200px;
    width: 100%;
}

@media (min-width: 540px) {
    .blurcard-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .blurcard-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.blurcard {
    list-style: none;
    position: relative;
}

.blurcard:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.blurcard-background {
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.blurcard:hover .blurcard-background {
    transform: scale(1.05) translateZ(0);
}

.blurcard-grid:hover > .blurcard:not(:hover) .blurcard-background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.blurcard-content {
    left: 0;
    padding: 24px;
    position: absolute;
    top: 0;
}

.blurcard-category {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.blurcard-heading {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}


/*Text Section*/

.text-section {
    text-align: left;
    padding: 100px 0;
    background: var(--background-colorG);


}

.text-section p.subtitle {
    text-align: left;
    color: var(--button-text-color-green);
    font-size: 17px;
    margin-bottom: 40px;
}

.text-section .image {
    text-align: center;
}

.text-section p{
    color: white;
}


.text-section .image.align-left {
    float: left;
    width: 50%;
    padding: 0 20px;
}

.image.align-left img {
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.image.align-left img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


.text-section .text.align-left {
    float: left;
    width: 50%;
    padding: 0 10% 0 40px;
}

.text-section  p i {
    color: var(--text-colorW);
}


.text-section .image.align-right {
    float: right;
    width: 50%;
    padding: 0 20px;
}

.text-section .text.align-right {
    float: right;
    width: 50%;
    padding: 0 40px 0 10%;
}

.text-section .text.align-center {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.text-section .text.align-center p.subtitle {
    text-align: center;
}

.text-section ul.list-checkmarks {
    margin-top: 40px;
}

ul.list-checkmarks li {
    text-align: left;
    list-style-image: none;
    background: url(../assets/icon/checkmark.png) top left no-repeat;
    background-position: 0 2px;
    margin: 10px 0;
    padding: 0 10px 10px 40px;
}

@media only screen and (max-width: 720px) {
    .text-section .text {
        float: none !important;
        text-align: center;
    }

    .text-section .text.align-right,
    .text-section .text.align-left,
    .text-section .image.align-right,
    .text-section .image.align-left {
        width: 100%;
    }

    .text-section .image {
        float: none !important;
        width: 80% !important;
        padding: 0 20px;
        margin: 0 auto 60px auto;
    }

    .text-section .text p.subtitle {
        text-align: center;
    }
}

/*Features Section*/

.features-section {
    background: #5dae87;
    padding: 100px 0;
    color: #fff;
}

.features-section h5 {
    color: #fff;
}

.features-section p {
    color: #bfeed7;
}

.features-section ul.feature-squares {
    width: 90%;
    margin: 0 auto;
}

.features-section ul.feature-squares li {
    width: 50%;
    padding: 3%;
    float: left;
}

.features-section ul.feature-squares li .image {
    float: left;
    width: 20%;
    margin-right: 5%;
    margin-top: 20px;
    text-align: center;
}

.features-section ul.feature-squares li .text {
    float: left;
    width: 75%;
}

@media only screen and (max-width: 960px) {
    .features-section ul.feature-squares li {
        display: block;
        width: 100%;
        margin: 20px 0 !important;
    }
}






@media only screen and (max-width: 960px) {
    ul.team-list li {
        display: block;
        width: 100%;
        margin: 80px 0 !important;
    }

    ul.team-list li:first-of-type {
        margin-top: 0 !important;
    }

    ul.social-links li {
        display: inline-block;
        width: 48px;
        margin: 0 3px !important;
    }
}

/*Email List Section*/

.form-section {
    background: #1c3b2b;
    background: linear-gradient(180deg, rgba(28, 59, 43, 1) 100%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%);
    padding: 100px 0;
    color: #fff;
}

.form-section h3 {
    color: #fff;
    text-align: center;
}

.form-section p.subtitle {
    color: #bfeed7;
    font-size: 17px;
}

.form-section form {
    width: auto;
    text-align: center;
    margin: 40px auto 0 auto;
}

.form-section input[type=text],
.form-section input[type=email] {
    background: #5dae87;
    color: #fff;
    border: 2px solid #eee;
    margin: 10px 5px;
}

input[type=email]::placeholder {
    color: var(--text-colorW);
}

.form-section input[type=text]:focus,
.form-section input[type=email]:focus{
    outline: none;
    color: #fff;
}

.form-section button {
    background: #fff;
    color: #5dae87;
    margin: 10px 5px;
}


.form-section button[type="submit"] {
    background-color: var(--button-color);
    color: var(--button-text-color-green);
    border-radius: var(--border-radiusHigh);
    border: 1px solid #ffffff;
    font-size: 18px;
}

.form-section button[type="submit"]:hover {
    background-color: var(--button-color-hover);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
    transition: background-color 0.8s ease, box-shadow 0.8s ease;
}



/*additionally added widghts to the css file*/


/*Footer*/

footer {
    background: var(--background-colorG);
    background: var(--background-liner-gradientGB);
    margin-top: 0px;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

footer img {
    display: block;
    float: left;
    text-indent: -4999px;
    width: 75px;
    height: 75px;
    border-radius: 20px;
}

footer .footer-left {
    float: left;
    text-align: left;
    margin-top: 5px;
    margin-left: 50px;
}

footer p {
    font-size: 17px;
    margin: 5px;
}

footer p.copyright {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

footer .footer-links {
    color: #777;
}

footer .footer-links a {
    color: #777;
    margin: 0 20px;
}

footer .footer-links a:hover {
    color: #5dae87;
}

footer .footer-links a:first-of-type {
    margin: 0 20px 0 0;
}

@media only screen and (max-width: 960px) {

    footer .footer-left, footer img {
        float: none;
        text-align: center;
        margin: 0 auto;
    }

    footer img {
        margin: 10px auto 40px auto;
    }

    footer .footer-links a {
        margin: 0 5px !important;
        font-size: 14px;
    }
}